      :root{
      --main-color:#ffa100;
    }
   
    .custom-footer {
      background-color: white;
      border-top: 1px solid #eee;
      padding: 60px 0 30px;
      margin-top: 60px;
      width: 100%;
    }

    .footer-container {
      max-width: 1200px; 
      margin: 0 auto;    
      display: flex;    
      justify-content: space-between; 
      align-items: flex-start;
      padding: 0 20px;   
    }

    .flex-section{
      flex:1;
      padding:0 15px;
    }


    .logo-info {
      flex: 0 0 30%;    
    }

    .footer-section.logo-info {
        flex: 0 0 300px;    
        margin-right: auto; 
        text-align: left;   
        padding-left: 0;    
    }

    .footer-logo {
      max-height: 60px;
      margin:0 0 20px -100px;
      display: block;
    }

    .logo-info p {
      font-size: 14px;
      color: #666;
      line-height: 1.6;
      max-width:300px;
      margin-left:-100px;
    }


    .footer-section {
      flex: 1;
      padding-left: 40px; 
    }

    /* footer section title */
    .footer-section h6 {
      color: var(--main-color);
      font-weight: bold;
      font-size: 24px;   
      margin-bottom: 20px;
    }

  
    .footer-section ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-section ul li {
      margin-bottom: 12px;
    }

    .footer-section ul li a {
      text-decoration: none;
      color: #333;
      transition: 0.3s;
    }

    .footer-section ul li a:hover {
      color: var(--main-color);
    }


    .footer-section i {
      width: 25px;
      color: var(--main-color);
    }

    .copyright{
      border-top:1px solid #eee; 
      padding-top:25px;
      font-size:13px;
      color:#999;
      text-align:center;
      margin-top:40px;
    }
