  font-face 
        {
            font-family: Obliq;
            src: url("Obliq.ttf");
        }
       body 
       {
           background-image: url("lab 4 materials/image/background.jpg");
           background-repeat: repeat;
           background-size: 200px 200px;
       }
      h1 
      {
          font-family: 'Obliq';
         src:url('lab 4 materials/font/Obliq.ttf');
         font-size: 2em;
         color: #009922;
         letter-spacing: 5px;
         text-align: center;
      }
     h4  
      {
         font-size: 2em;
         word-spacing: 15px;
         background-color: yellowgreen;
         color: white;
         text-shadow: 2px 2px #009922; 
      }
     p 
     {
         font-style: italic;
     }
     span.labels 
     {
         font-weight: bold;
         color: blue;
     }
     span#old-price 
     {
         text-decoration: line-through;
         font-style: normal;
     }
     span#new-price 
     {
         text-decoration: underline;
         color: red;
         font-style: normal;
     }