     :root{
        --form-text-color: #2a5a3c;
            --form-border-radius: 0.375rem;
    --form-border-color: #dee2e6;
    --form-border-width: 1px;
}

.form {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    top: 20px;
    z-index: 0;
}



 .form-content {
    background-image: linear-gradient(rgba(42, 90, 60, 0.5), rgba(42, 90, 60, 0.9)),url("img/login-bg.png");
    /*background-size: cover;*/
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: white;
    position: relative;
}

.login-content h2 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1.3;
}

.login-welcome {
    max-width: 400px;
}

.login-welcome p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 35px;
    opacity: 0.9;
}

.login-welcome ul {
    list-style-type: none;
}

.login-welcome ul li{
    margin: 10px 0;
    padding: 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
}

.form-container {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.form-header {
    text-align: center;
    margin-bottom: 45px;
}

.form-header h1 {
    font-size: 32px;
    color: var(--form-text-color);
    margin-bottom: 15px;
    font-weight: 700;
}

.form-header p {
    color: #777;
    font-size: 17px;
    margin-top: 25px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #444;
    font-size: 16px;
    text-align: left;
}

.form-group {
    position: relative;
}

.form-control {
    display: block;
width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--body-bg);
    background-clip: padding-box;
    border: var(--form-border-width) solid var(--form-border-color);
    border-radius: var(--form-border-radius);
    box-sizing: border-box;
}

.forgot {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

.forgot-password {
    color: var(--form-text-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s;
}

.forgot-password:hover {

    text-decoration: underline;
}

[type=submit]
{    background-color: var(--form-text-color);
    color: white;
    border: none;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;

}

[type=submit]:hover
{   background-color: var(--primary-color);
        box-shadow: 0 5px 15px rgba(42, 90, 60, 0.2);
}

.login-link, .register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

.login-link a, .register-link a {
    color: var(--form-text-color);
    font-weight: 600;
    text-decoration: none;

}

.login-link a:hover, .register-link a:hover {

    text-decoration: underline;

}