:root {
    --body-font-family: "Segoe UI", Arial, sans-serif;
    --body-color:#212529;
    --body-bgcolor:#e9ecef;
    --body-line-height: 1.5;
    --primary-color: #496f26;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

body {
    font-family: var(--body-font-family);
    color: var(--body-color);
    background-color: var(--body-bgcolor);
    line-height: var(--body-line-height);
    text-align: center;
    margin: 0;

}

header {
  background-color: white;
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 9999;
}

img.logo {
    height: 95px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.search-container {
    max-width: 600px;
    margin: 0 20px;
}

#searchForm {
    display: flex;
    width: 100%;
}

.search-input {

    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
	
    /*outline: none;*/
}

.search-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.link-after-login {
  display: flex; /* make the container a flex row */
  gap: 8px; /* space between each link */
  align-items: center;
}

.link-after-login a {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
}

.link-after-login a:hover {
  box-shadow: var(--shadow);
}


.navbar {
    display: flex;
    background-color: var(--primary-color);
    /*position: relative;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    justify-content: space-between;
    z-index: 900;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 18px 25px;
    display: inline-block;
    font-weight: 500;

    position: relative;
}

.footer {
    background-color: black;
    color: lightgray;
    padding: 70px 0 30px;
    margin-top: 60px;
        text-align: left;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 50px;
}

.footer-logo {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.footer-social img {

    width: 45px;
    height: 45px;
}

.footer-heading {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 10px;
    font-weight: 600;
}

.footer-links {
    list-style: none;
    padding: 0;

}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: lightgray;
    text-decoration: none;
    font-size: 15px;
    
}

.footer-copyright {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid darkgray;
    font-size: 0.9rem;
}